@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing-: antialiased;
}
@media screen and (min-width: 1024px) {
    body {
        padding: 20px;
    }
}